@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Petrona:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
}

.sidebar {
  position: relative;
  z-index: 2;
  width: 70px;
  background-color: #d2dbdf;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 0 0;
  height: 100vh;
  border-right: 0.7px solid #749ebd;
  position: relative;
  z-index: 1;
}

.icon {
  cursor: pointer;
  margin: 20px 0;
  padding: 0.5rem;
  transition: color 0.3s ease;
  border-radius: 0.5rem;
}

.icon:hover {
  cursor: pointer;
  background-color: #c4cfd4;
}

.icon.active {
  background-color: #bfd2da;
  color: #333;
}

.icon svg,
.mobile-menu-icon svg {
  width: 40px;
  height: 40px;
}

.mobile-menu-icon svg {
  width: 40px;
  height: 40px;
}

.menu {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 20px;
  width: 500px;
  height: 100vh;
  background-color: #c7d4da;
  overflow: hidden;
  border-right: 0.7px solid #749ebd;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  box-sizing: border-box;
  z-index: 0;
}

.uppercards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.menu.open {
  transform: translateX(0);
}

.menu.closed {
  transform: translateX(-100%);
}

.card {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  transition: transform 0.3s ease;
  border-radius: 2rem;
  text-align: left;
  margin-top: 12px;
  /* border: 0.7px solid #749ebd; */
  box-shadow: #576b8b16 1px 1px 20px 0px;
  cursor: pointer;
}

.card:hover {
  transform: scale(0.98);
}

.square-card {
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.generalai {
  background: url("../assets/generalai.png") no-repeat center;
  background-color: rgb(172, 191, 213);
  background-color: linear-gradient(
    180deg,
    rgba(172, 191, 213, 1) 0%,
    rgba(175, 194, 217, 1) 35%,
    rgba(175, 194, 217, 1) 100%
  );
  background-size: 150%;
  background-position: center top 130px;
  color: #fff;
  width: 150px;
  height: 350px;
  margin-left: 3.5rem;
  border-radius: 2rem;
}

.generalai h2 {
  margin-top: 0.5rem;
  text-align: left;
  font-size: 2.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1;
}

.fitnessai {
  background: url("../assets/fitnessaicopy.png") no-repeat center;
  background-color: #749ebd;
  background-size: 150%;
  background-position: center top 10px;
  color: #fff;
  width: 140px;
  height: 140px;
}

.fitnessai h2 {
  margin-top: 0.5rem;
  text-align: right;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1;
}

.legalai {
  background: url("../assets/legalai.png") no-repeat center;
  background-color: #191c1b;
  background-size: 100%;
  background-position: center top 10px;
  color: #fff;
  width: 140px;
  height: 140px;
}

.legalai h2 {
  margin-top: 0.2rem;
  text-align: right;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.1;
}

.therapyai {
  background: url("../assets/therapyai.png") no-repeat center;
  background-color: #fefefe;
  background-size: 80%;
  background-position: center top 20px;
  color: #fff;
  width: 350px;
  height: 200px;
  margin-left: 4rem;
  border-radius: 2rem;
}

.therapyai h2 {
  margin-top: 0.5rem;
  text-align: left;
  font-size: 2.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1;
  color: #333;
}

.menu-mobile {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 98%;
  background-color: #c7d4da;
  border-radius: 2rem 2rem 0 0;
  overflow: hidden;
  box-shadow: 0 -20px 100px #6b747994;
  transition: bottom 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  border-top: 0.7px solid #749ebd;
}

.menu-mobile.open {
  bottom: 0;
  overflow: auto;
}

.menu-mobile.closed {
  bottom: -100%;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 35px;
  cursor: pointer;
  color: #191c1b;
}

.mobile-menu-icon {
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 3;
  background-color: #fff;
  padding: 13px 13px 10px 13px;
  border-radius: 5rem;
}

.mobile-menu-icon.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .menu {
    display: none;
  }

  .menu-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .uppercards {
    flex-direction: column;
    margin-top: 20%;
    gap: 0;
  }

  .square-card {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .generalai {
    background-size: 100%;
    background-position: center top 10px;
    color: #fff;
    width: 300px;
    height: 200px;
    border-radius: 2rem;
    margin-left: 0;
  }

  .legalai {
    background-size: 130%;
    background-position: center top 0px;
    color: #fff;
    width: 125px;
    height: 125px;
    border-radius: 2rem;
  }

  .fitnessai {
    background-size: 130%;
    background-position: center top 10px;
    color: #fff;
    width: 125px;
    height: 125px;
    border-radius: 2rem;
  }

  .therapyai {
    background-size: 110%;
    background-position: center top 0px;
    color: #fff;
    width: 300px;
    height: 200px;
    border-radius: 2rem;
    margin-left: 0;
    margin-bottom: 20%;
  }
}
